<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<agm-map [zoom]="17" style="height: 300px" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-snazzy-info-window [isOpen]="true" [maxWidth]="200" [closeWhenOthersOpen]="true">
        <ng-template>
          <b style="color:black">Home</b>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>

  